.whatsappBTN{
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    height: 6rem;
    width: 6rem;
    color: $whatsappBTNColor;
    min-height: 64px;
    min-width: 64px;

    &:hover{
        cursor: pointer;
    }
}