#about{
    @include center;
    padding-top: 6rem;

    .col-1, .col-2{
        height: 100%;
        @include center;
        flex-direction: column;
    }

    .col-1{
        .Typewriter{
            min-width: 100%;
            min-height: 100px;
            .Typewriter__wrapper, .Typewriter__cursor{
                font-size: 2rem;
                text-align: left;
                width: 100%;
            }
        }
        
        p{
            text-align: left;
        }
    }

    .col-2{
        gap: 2rem;

        .buttons{
            display: flex;
            justify-content: center;
            width: 100%;
            gap: 2rem;
            a{
                color: $primary;
            }
        }
        
        img{
            color: transparent;
            border: 3px solid $shadow;
            border-radius: 12px;
        }
    }

}
