*{
    font-family: 'Poppins', sans-serif !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 500;
    list-style: none;
}

body{    
    background-color: #fff;
    width: 100vw;
    overflow-x: hidden;
}

html{
    scroll-padding-top: 100px;
    scroll-behavior: smooth;
}