@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');

:root{
    --greenLigth: rgb(31, 171, 137);
    --darkGray: #121212;
    --ligthGray:#555555;
    --white: #ffffff;
    --fontPattern: 'Fira Sans', sans-serif;
}

/* Global */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: var(--fontPattern);
}

body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  background: var(--darkGray);
  height: 100%;
}

main{
  margin-top: 90px;
}

html{ 
  scroll-behavior: smooth; 
}

/* Header */

header{
  z-index: 2;
  background-color: var(--darkGray);
  height: 60px;
  width: 100vw;
  display: flex;
  position: fixed;
  top: 0;
  border-bottom: 2px solid #00000057;
  padding: 0 5vw;
  justify-content: space-between;

}

nav {
  display: flex;
  height: 100%;
  justify-content: space-between;
  padding: 10px 30px;
  font-weight: 400;
  letter-spacing: .5px;
}

.logo{
  height: 100%;
  width: 60px;
  color: var(--white);
}

.menu {
  display: flex;
  font-size: 20px;
  column-gap: 20px;
  align-items: center;

}

.menu a{
  color: var(--white);
  transition: .4s;
}

.menu  a:hover {
  display: block;
  transform: scale(1.1);
  transition: .6s;
}


/* Sections */

#sobre{
  position: relative;
  padding: 0 !important;
}

#infos{
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
}

#text{
  width: 70%;
  height: 50%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  padding: 0 10%;
  color: var(--ligthGray);
}

#profile{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.animationArea{
  display: flex;
  width: 100%;
  align-items: center;
}

#line{
  font-size: 1.5rem;
}

.textMain , #line{
  font-size: 2.5rem;
  color: var(--white);
}

.textMain{
  font-size: 3rem;
}

#buttons{
  display: flex;
  gap: 10%;
  justify-content: flex-start;
  padding-top: 20px;
  width: 100%;
}

#buttons a{
  width: 40%;
  height: 40px;
  max-width: 170px;
}

#buttons button{
  height: 100%;
  border: 1px solid var(--white);
  background-color: #00000000;
  width: 100%;
  font-size: 20px;
  color: var(--white);
  cursor: pointer;
  display: flex;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

#buttons button:hover{
  cursor: pointer;
  background-color: #272727;
  transition: .6s;
}

#photo{
  border-radius: 50%;
  width: 50%;
  box-shadow: #6c6c6c85 0px 0px 8px 0px;
}

#techs, #sobre, #projects, #contact, #projetos{
  display: flex;
  min-height: 50vh;
  width: 100%;
  color: var(--white);
  flex-direction: column;
  padding: 5% 10%;
  align-items: center;
  position: relative;
}

#techs, #contact{
  background-color: var(--white);
  text-align: center;
  gap: 2vh;
}

#techs h1{
  color: var(--darkGray);
}

.techs, .studing, .tools{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

 h1{
  font-size: 3rem;
  color: var(--white);
  text-transform: uppercase;
}

h4{
  font-size: 1.5rem;
  color: var(--darkGray);
  text-align: center;
  color: var(--ligthGray);
}

.icons{
  display: flex;
  width: 100%;
  gap: 1%;
  flex-wrap: wrap;
  justify-content: center;
}

.icons a{
  width: 25%;
}

.icon{
  color: var(--darkGray);
  height: 90px;
  width: 90px;
  transition: .4s;
  animation-timing-function: ease;
}
.icon:hover{
  transform: scale(1.1);
  cursor: pointer;
}

#projects{
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  justify-items: center;
  justify-content: center;
  padding-bottom: 150px;
  
}

#projects h1{
  text-align: center;
  grid-column: 1 / span 2;
}

.project{
  max-width: 400px;
  justify-content: space-between;
  padding: 10% 5%;
  background-color: var(--white);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;

}

.project h3{
  font-size: 1.5rem;
  color: var(--darkGray);
}

.project p{
  color: var(--darkGray);
  font-size: 1rem;
  text-align: justify;
  width: 80%;
}

.project img{
  box-shadow: #0000003d 0px 3px 8px 4px;
  height: 200px;
  width: 100%;
  border-radius: 10px;
}

.project .buttons{
  height: 35px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.project a{
  height: 100%;
  width: 40%;
}

.project button{
  background-color: #00000000;
  border: none;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--darkGray);
  height: 100%;
  transition: .4s;
  animation-timing-function: ease;
}

.project button:hover{
  transform: scale(1.05);
  cursor: pointer;
}

.project ion-icon{
  color: var(--darkGray);
  height: 100%;
  width: 40%;
}

#seeMore{
  grid-column: 1 / span 2;
  z-index: 1; 

}

#seeMore button{
  height: 100%;
  border: 1px solid var(--greenLigth);
  background-color: #00000000;
  width: 100%;
  font-size: 20px;
  color: var(--white);
  padding: 10px 20px;
  transition: .4s;
}

#seeMore button:hover{
  cursor: pointer;
  background-color: #272727;
  transition: .6s;
}

#contact{
  gap: 0 !important;
}
#form{
  margin-top: 2rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
}

#contact h1, #contact p, #submit{
  color: var(--darkGray);
}

#contact input, #description{
  width: 100% !important;
}

#name, #email, #subject{
  color: var(--white);
  background-color: var(--darkGray);
  height: 40px;
  padding-left: 30px;
  border-radius: 10px;
  border: none;
  max-width: 600px;
}

#description{
  background-color: var(--darkGray);
  resize: none;
  padding: 12px 0 0 30px;
  border-radius: 10px;
  max-width: 600px;
}

#name::placeholder, #email::placeholder, #subject::placeholder, #description::placeholder{
  color: var(--white);

}
#submit{
  border-radius: 30px;
  border: none;
  width: 150px;
  height: 40px ;
  font-size: 1rem;
  transition: .4s;
  animation-timing-function: ease;
  color: var(--white);
  font-weight: bold;
  margin: 0 auto;
  background-color: var(--darkGray);
}

#submit:hover{
  transform: scale(1.05);
  cursor: pointer;
}

/* Footer */

footer{
  display: flex;
  padding: 0 5%;
  align-items: center;
  flex-direction: row;
  height: 50px;
  justify-content: space-between;
  background-color: var(--darkGray);
  color: var(--white);
}



#socialMedias {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  min-width: 200px;
  column-gap: 30px;
  height: 100%;
  align-content: center;
  align-items: center;
}

#socialMedias ion-icon {
  color: var(--white);
  height: 100%;
}

#socialMedias button{
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 1rem;
  color: var(--white);
  transition: .6s;
  animation-timing-function: ease;
  height: 30px;
  width: 30px;
  background-color: var(--darkGray);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#socialMedias button:hover{
  cursor: pointer;
  transform: scale(1.1);
}

/* scrollBar */
::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background-color: var(--darkGray);
}

::-webkit-scrollbar-thumb{
  background-color: var(--ligthGray);
  border-radius: 4px;
}

/* Background Animated */


.background {
  position: absolute;
  text-align:center;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column-reverse;
}


.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}

@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
}

.notVisible{
  visibility: hidden;
}

/* header mobile */

#mobileMenu{
  display: none;
}

#mobileMenu:hover{
  cursor: pointer;
}
#mobileMenu div{
  width: 32px;
  height: 2px;
  background-color: var(--white);
  margin: 8px;
}

.active{
  transform: translateX(0%) !important;
}

@media only screen and (max-width: 700px) {

  #mobileMenu{
    display: block;
    position: relative;
    z-index: 2;
    
  }

  nav{
    flex-direction: column;
    align-items: center;  
  }

  header{
    z-index: 2;

  }

  .menu{
    row-gap: 30px;
    padding: 30px 0 0 50px;
    align-items: flex-start;
    z-index: 1;
    flex-direction: column;
    height: 100vh;
    border-radius: 0 0 0 10px;
    position: absolute;
    top: 60px;
    background-color: var(--darkGray);
    width: 30vw;
    transition: transform .4s ease-in;
    transform: translateX(100%);
  }

  .menu a {
    font-size: 1.6rem;
  }
} 
[data-anime]{
  opacity: 0;
	transform: translateX(-100%);
}

.active{
  opacity: 1;
	transform: translateX(0);
	transition: .6s ease-in-out;
}