@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');
:root{
    --greenLigth: rgb(31, 171, 137);
    --darkGray: #121212;
    --ligthGray:#808080;
    --white: #ffffff;
    --fontPattern: 'Fira Sans', arial, sans-serif;
}

/* Global */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: var(--fontPattern);
}

body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  background: var(--darkGray);
  height: 100%;
}

main{
  margin-top: 90px;
}

html{ 
  scroll-behavior: smooth; 
  scroll-padding-top: 90px
}

/* Header */
header{
  z-index: 2;
  background-color: var(--darkGray);
  height: 60px;
  width: 100vw;
  display: flex;
  position: fixed;
  top: 0;
  border-bottom: 2px solid #00000057;
  padding: 0 5vw;
  justify-content: space-between;
}

nav {
  display: flex;
  height: 100%;
  justify-content: space-between;
  padding: 10px 30px;
  font-weight: 400;
  letter-spacing: .5px;
}

.logo{
  height: 100%;
  width: 60px;
  color: var(--white);
}

.menu {
  display: flex;
  font-size: 20px;
  column-gap: 20px;
  align-items: center;

}

.menu a{
  color: var(--white);
  transition: .4s;
}

.menu  a:hover {
  display: block;
  transform: scale(1.1);
  transition: .6s;
}


/* Sections */

#about{
  position: relative;
  padding: 0 !important;
}

#infos{
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
}

#text{
  width: 50%;
  height: 50%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  padding: 0 10%;
  color: var(--ligthGray);
}
#text h2 {
  font-size: 1.5rem;
}

#profile{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  position: relative;
  z-index: 1;
}

#profile p{
  height: 50%;
  font-size: 1rem;
  width: 80%;
  border-radius: 30px;
  color: var(--white);
  text-align: justify;
}

#photo{
  border-radius: 50%;
  width: 200px;
  box-shadow: #6c6c6c85 0px 0px 8px 0px;
}


#buttons{
  display: flex;
  justify-content: center;
  column-gap: 20px;
  height: 40px;
  width: 100%;
}

#buttons a{
  height: 100%;
  width: 50%;
  position: relative;
  z-index: 1;
}

#buttons button{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid var(--white);
  color: var(--white);
  background-color: #00000000;
  height: 100%;
  width: 100%;
  column-gap: 5px;
}

#buttons button:hover{
  cursor: pointer;
  background-color: #272727;
  transition: .6s;
}

#buttons ion-icon{
  height: 100%;
  width: 30%; 
}

#techs, #about, #projects, #contact, #projetos{
  display: flex;
  min-height: 50vh;
  width: 100%;
  color: var(--white);
  flex-direction: column;
  padding: 5% 10%;
  align-items: center;
  position: relative;
}

#techs, #contact{
  background-color: var(--white);
  text-align: center;
  gap: 2vh;
}

#techs h1{
  color: var(--darkGray);
}

.techs, .studing, .tools{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

 h1{
  font-size: 3rem;
  color: var(--white);
  text-transform: uppercase;
}

h4{
  font-size: 1.5rem;
  color: var(--darkGray);
  text-align: center;
  color: var(--ligthGray);
}

.icons{
  display: flex;
  width: 100%;
  gap: 1%;
  flex-wrap: wrap;
  justify-content: center;
}

.icons a{
  width: 25%;
}

.icon{
  color: var(--darkGray);
  height: 90px;
  width: 90px;
  transition: .4s;
  animation-timing-function: ease;
}
.icon:hover{
  transform: scale(1.1);
  cursor: pointer;
}

#projects{
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  justify-items: center;
  justify-content: center;
  padding-bottom: 150px;
  
}

#projects h1{
  text-align: center;
  grid-column: 1 / span 2;
}

.project{
  max-width: 400px;
  justify-content: space-between;
  padding: 10% 5%;
  background-color: var(--white);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
  z-index: 2;
  position: relative;
}

.project h3{
  font-size: 1.5rem;
  color: var(--darkGray);
}

.project p{
  color: var(--darkGray);
  font-size: 1rem;
  text-align: justify;
  width: 80%;
}

.project img{
  box-shadow: #0000003d 0px 3px 8px 4px;
  height: 200px;
  width: 100%;
  border-radius: 10px;
}

.project .buttons{
  height: 35px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.linkImage{
  height: 100%;
  width: 90%;
  transition: .3s ease-in;
}

.linkImage:hover{
  cursor: pointer;
  transform: scale(1.05);
}

.buttons a{
  height: 100%;
  width: 40%;
}

.project button{
  background-color: #00000000;
  border: none;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--darkGray);
  height: 100%;
  transition: .4s;
  animation-timing-function: ease;
}

.project button:hover{
  transform: scale(1.05);
  cursor: pointer;
}

.project ion-icon{
  color: var(--darkGray);
  height: 100%;
  width: 40%;
}

#seeMore{
  grid-column: 1 / span 2;
  z-index: 1; 

}

#seeMore button{
  height: 100%;
  border: 2px solid var(--white);
  background-color: #00000000;
  width: 100%;
  font-size: 20px;
  color: var(--white);
  padding: 10px 20px;
  transition: .4s;
}

#seeMore button:hover{
  cursor: pointer;
  background-color: #272727;
  transition: .6s;
}

#contact{
  gap: 0 !important;
}
#form{
  margin-top: 2rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
}

#contact h1, #contact p, #submit{
  color: var(--darkGray);
}

#contact input, #description{
  width: 100% !important;
}

#name, #email, #subject{
  color: var(--white);
  background-color: var(--darkGray);
  height: 40px;
  padding-left: 30px;
  border-radius: 10px;
  border: none;
  max-width: 600px;
}

#description{
  background-color: var(--darkGray);
  resize: none;
  padding: 12px 0 0 30px;
  border-radius: 10px;
  max-width: 600px;
}

#name::placeholder, #email::placeholder, #subject::placeholder, #description::placeholder{
  color: var(--white);

}
#submit{
  border-radius: 30px;
  border: none;
  width: 150px;
  height: 40px ;
  font-size: 1rem;
  transition: .4s;
  animation-timing-function: ease;
  color: var(--white);
  font-weight: bold;
  margin: 0 auto;
  background-color: var(--darkGray);
}

#submit:hover{
  transform: scale(1.05);
  cursor: pointer;
}

/* Footer */

footer{
  display: flex;
  padding: 0 5%;
  align-items: center;
  flex-direction: row;
  height: 50px;
  justify-content: space-between;
  background-color: var(--darkGray);
  color: var(--white);
}

#socialMedias {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  min-width: 200px;
  column-gap: 30px;
  height: 100%;
  align-content: center;
  align-items: center;
}

#socialMedias ion-icon{
  color: var(--white);
  height: 40px;
  width: 40px;
}

#socialMedias button{
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 1rem;
  color: var(--white);
  transition: .6s;
  animation-timing-function: ease;
  height: 30px;
  width: 30px;
  background-color: var(--darkGray);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#socialMedias button:hover{
  cursor: pointer;
  transform: scale(1.1);
}

#Copyright{
  width: 30%;
}

/* scrollBar */
::-webkit-scrollbar{
  width: 5px;
}

::-webkit-scrollbar-track{
  background-color: var(--darkGray);
}

::-webkit-scrollbar-thumb{
  background-color: var(--ligthGray);
  border-radius: 4px;
}

/* Background Animated */

.background {
  position: absolute;
  text-align:center;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 1;
  flex-direction: column-reverse;
}


.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}

@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
}

.notVisible{
  visibility: hidden;
}

/* header mobile */

#mobileMenu{
  display: none;
}

#mobileMenu:hover{
  cursor: pointer;
}
#mobileMenu div{
  width: 32px;
  height: 2px;
  background-color: var(--white);
  margin: 8px;
}

.active{
  transform: translateX(0%) !important;
}
/* desktop version */
@media only screen and (min-width: 1000px) {
  #profile{
    flex-direction: row;
    gap: 15px;
    padding: 20px;
  }
}

/* Mobile version */

@media only screen and (max-width: 700px) {
  #mobileMenu{
    display: block;
    position: relative;
    z-index: 2;
  }

  nav{
    flex-direction: column;
    align-items: center;  
  }

  header{
    z-index: 2;
  }

  .menu{
    row-gap: 30px;
    padding: 30px 0 0 15px;
    align-items: flex-start;
    z-index: 1;
    flex-direction: column;
    height: 100vh;
    border-radius: 0 0 0 10px;
    position: absolute;
    top: 60px;
    background-color: var(--darkGray);
    width: 50vw;
    transition: transform .4s ease-in;
    transform: translateX(100%);
  }

  .menu a {
    font-size: 1.6rem;
  }

  main {
    margin-top: 0;
  }

  #projects{
    grid-template-columns: auto;
  }
  .project{
    grid-column: 1 / span 2;
  }

  #about{
    height: 80vh;
  }

  #infos{
    flex-direction: column;
  }
  #text, #profile{
    padding: 0;
    width: 80%;
    height: 50%;
    text-align: center;
    justify-content: center;
  }

  #photo{
    width: 40%;
  }
  #profile{
    flex-direction: column;
    transform: translateY(-10%);
  }

  #profile p{
    height: auto;
  }
  #buttons{
    justify-content: center;
  }

  #text {
    align-items: center;
 }

 #Copyright{
  width: auto;
 }

 .icon{
  height: 60px;
  width: 60px;
 }
} 

/* Animation */

[data-anime='left']{
  opacity: 0;
	transform: translateX(-100%);
}

[data-anime='left'].active{
  opacity: 1;
	transform: translateX(0);
	transition: .6s ease-in-out;
}

[data-anime='top']{
  opacity: 0;
	transform: translateY(-20%);
}

[data-anime='top'].active{
  opacity: 1;
	transform: translateY(0);
	transition: .4s ease-in-out;
}

/* writer animation */

.line {
  position: relative;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.anim-typewriter {
  animation: typewriter 4s steps(40) 1s 1 normal both,
  blinkTextCursor 500ms steps(40) infinite normal;

  font-size: 2rem;
  color: var(--white);
  text-align: left;
}


@keyframes typewriter {
  from {
        width: 0;
  }
  to {
        width: 9.3em;
  }
}

@keyframes blinkTextCursor {
  from {
        border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
        border-right-color: transparent;
  }
}